.red{
    background-color:red;
}
.white{
    background-color:white;
}
.blue{
    background-color:blue;
}
.rectangle{
    height:400px;
    width:600px;
}
.header{
    background-color:LightSkyBlue;
}
